body {
  font-family: "Prompt", sans-serif;
}

.container {
  max-width: 100%;
  width: 100vw;
  height: 100vh;
  color: #bf40af;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Prompt", sans-serif;
}

header {
  width: 100%;
  height: 5rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 175px;
}


/* ~~~~~~~~~ SMALL PHONE SCREENS~~~~~~~~~~~~~~~~~~~ */
@media only screen and (max-width: 450px) {
  nav {
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
  }

  img.logo {
    height: 100px;
    width: 100px;
  }

  .headerUl {
    height: 50px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .headerLi {
    font-size: 0.75rem;
  }

  .headerH1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fa-search, .far-star {
    padding-right: 2px;
  }
}

.formDate {
  margin-bottom: 50px;
}

/* ~~~~~~~~~~~~~~~~~~ MOBILE VIEW ~~~~~~~~~~~~~~~~~~~~ */

.logo {
  display: flex;
  margin-top: 2px;
  height: 200px;
}
.headerH1 {
  margin-left: 10px;
  height: 100px;
  width: 100px;
  font-family: "Fredoka One", cursive;
  color: #40b4bf;
  display: flex;
}

.go {
  color: rgb(209, 209, 214);
}

.headerUl {
  list-style: none;
  font-size: large;
  height: 100px;
  margin: 5px;
  font-family: "Montserrat", sans-serif;
}

.card {
  border-radius: 30% !important;
  background-color: #bf40af !important;
  height: 250px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.cardTitle:hover {
  color: orange;
  cursor: pointer;
}

.cardTitle {
  font-family: "Prompt", sans-serif;
  font-size: xx-large !important;
  color: lavender;
}

.cardDate {
  font-family: "Prompt", sans-serif;
  font-size: large;
  color: lavender;
}

.cardButton,
button {
  font-family: "Prompt", sans-serif;
  border-radius: 25%;
  background-color: orange;
}

a {
  text-decoration: none !important;
  color: #40b4bf !important;
}

a:hover {
  color: orange !important;
}

button {
  border: none;
  padding: 10px;
  width: 50%;
  height: 20px;
  border-radius: 25% !important;
}

.Summary {
  margin-bottom: 50px;
}
button:hover {
  background: #40b4bf;
}

.cardUrl,
.searchBtn,
.buyTickets {
  color: #40b4bf !important;
}

.starDiv {
  display: flex;
  justify-content: center !important;
}

.fa-star:hover,
.fa-search:hover {
  color: gold;
  align-self: flex-end;
}

.starDiv i {
  color: orange;
}
.homeH1 {
  margin-top: 100px;
  display: flex;
  font-family: "Fredoka One", cursive;
  justify-content: center;
  align-items: center;
}

.homeH1,
.homeGo {
  font-size: 4rem;
}

.container .eventDetailsDiv {
  margin-top: 100px;
  background-color: orange;
}

.searchDiv {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.zipCodeInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.searchBtn {
  width: 70px;
}

.resultsDiv {
  margin-top: 30rem;
  height: 100vh;
}

.eventDetailsDiv {
  height: 100vh;
}

/* ~~~~~~ DESKTOP VIEW ~~~~~~~~~~ */

@media only screen and (min-width: 700px) {
  nav {
    justify-content: space-between;
  }
  .headerH1 {
    margin-left: 50px;
  }

  .headerH1,
  .go {
    font-size: 3.5rem;
  }

  .headerUl {
    margin-right: 50px;
    font-size: 1.5rem;
    margin: 20px;
  }

  .headerLi {
    padding-bottom: 10px;
  }

  .homeH1,
  .homeGo {
    font-size: 6rem;
  }

  .searchDiv {
    font-size: 1.5rem;
  }

  .searchBtn {
    width: 125px;
  }
}
